#container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.margin-auto {
  margin: auto;
  float: unset !important;
}

.div-btn {
  display: flex;
  justify-content: center;
  margin-top: 8%;
}

.divLogo {
  text-align: center;
}

.imgLogo {
  box-sizing: unset;
  margin-top: 3%;
  display: unset;
}

.center {
  margin-bottom: 10px;
}

.card-action {
  cursor: pointer;
  width: 33.3%;
  text-align: center;
}

.pedido {
  margin-bottom: 2%;
}

.card-content {
  background-color: #428bca;
}

.material-icons {
  margin-left: 5px;
  position: absolute;
}

#toast-container {
  display: block;
  position: fixed;
  z-index: 10000;
}

@media only screen and (max-width: 600px) {
  #toast-container {
    min-width: 100%;
    bottom: 0%;
  }

  .preloader-wrapper {
    margin: 0 auto;
    left: 40%;
    margin-top: 50%;
  }
}

@media only screen and (min-width: 601px) and (max-width: 992px) {
  #toast-container {
    left: 5%;
    bottom: 7%;
    max-width: 90%;
  }

  .preloader-wrapper {
    margin: 0 auto;
    left: 40%;
    margin-top: 50%;
  }
}

@media only screen and (min-width: 993px) {
  #toast-container {
    top: 10%;
    right: 7%;
    max-width: 86%;
  }

  .preloader-wrapper {
    margin: 0 auto;
    left: 50%;
    margin-top: 10%;
  }
}

#iconRefesh {
  margin: 0 auto;
  position: unset;
}
