#container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.margin-auto {
  margin: auto;
  float: unset !important;
}

.div-btn {
  display: flex;
  justify-content: center;
  margin-top: 8%;
}

.divLogo {
  text-align: center;
}

.imgLogo {
  box-sizing: unset;
  margin-top: 3%;
  display: unset;
}

.center {
  margin-bottom: 10px;
}

.card-action {
  cursor: pointer;
}

.card-content {
  background-color: #428bca;
}
